<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeX.DesktopTool.Print.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeX.DesktopTool.Print.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cnsetting" connectionString="Data Source=anantha.atisicloud.com,8082;Initial Catalog=ALLABARE;User ID=sa;Password=p455w0rd."
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <CodeX.DesktopTool.Print.Properties.Settings>
      <setting name="LabelPrinterName" serializeAs="String">
        <value>ZDesigner GK420T</value>
      </setting>
      <setting name="BarcodeType" serializeAs="String">
        <value>Linear</value>
      </setting>
      <setting name="BarcodeValue" serializeAs="String">
        <value>ItemCode</value>
      </setting>
      <setting name="RemoteDataPath" serializeAs="String">
        <value>E:\Source\Development\WinApp\BarindoPrint\bin\Debug\Data</value>
      </setting>
      <setting name="DataMode" serializeAs="String">
        <value>Local</value>
      </setting>
      <setting name="PrintLabelNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoSaveLogFile" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CheckPrinterStatusInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ClearLogFileWhenExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseNetworkPrinter" serializeAs="String">
        <value>True</value>
      </setting>
    </CodeX.DesktopTool.Print.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <CodeX.DesktopTool.Print.Properties.Settings>
      <setting name="CompanyName" serializeAs="String">
        <value>PT. Allabare Berkatindo</value>
      </setting>
    </CodeX.DesktopTool.Print.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
